@font-face {
    font-family: Sifonn;
    src: url("../font/SIFONN_BASIC.otf") format("opentype");
}

@font-face {
    font-family: Sifonn;
    font-weight: normal;
    src: url("../font/SIFONN_BASIC.otf") format("opentype");
}

* {
	margin: 0;
	padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*font-family: sans-serif;*/
    font-family: 'Sifonn';
}
a {
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
}
li {
    display: inline;
}
html {
    scroll-behavior: smooth;
}
  

/* Comun */
body {
    background-color: #0b3954;
}
h1, h2, p, a {
    color: #ece5f0;
}
h1, h2 {
    /*font-family: 'Sifonn';*/
}

/* Navbar */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 7%;
    z-index: 99;
    /*background-color: #0b3954;*/
    background-color: #e98a15;
    border-bottom: solid #ece5f0;
}
.nav-shadow {
    box-shadow: 5px 10px 18px #0a3147;
}
nav, .logo-a {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul {
    width: 40%;
}
nav ul:nth-child(1) {
    display: flex;
    justify-content: flex-end;
}
nav ul:nth-child(3) {
    display: flex;
    justify-content: flex-start;
}
nav ul li {
    margin: 20px;
    font-size: 18px;
}
.logo-a {
    border: solid;
    border-radius: 100%;
    padding: 20px;
    margin-top: 65px;
    background-color: #e98a15;
}
.logo-img {
    width: 60px;
    transform: rotate(45deg);
}

.main {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

/* Landing */
.landing {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.land-prod {
    width: 45%;
    display: flex;
    justify-content: center;
}
.land-prod img {
    margin-left: 240px;
    width: 200px;
    transform: rotate(10deg);
}
.land-desc {
    width: 55%;
}
.land-text h1 {
    font-size: 60px;
}
.land-text p {
    font-size: 18px;
    width: 70%;
    margin-top: 60px;
    margin-bottom: 60px;
}
.land-email input {
    border: none;
    height: 40px;
    width: 320px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 10px;
    font-size: 16px;
}
.land-email button {
    border: none;
    background-color: #e98a15;
    height: 40px;
    width: 120px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    font-size: 14px;
    color: #ece5f0;
}

/* Producto desc */
.producto-desc {
    margin-top: 100px;
}
.producto-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.producto-text h1 {
    margin: 16px;
    font-size: 30px;
}
.producto-text p {
    margin-top: 18px;
    text-align: center;
    font-size: 14px;
    width: 45vw;
}
.producto-cards {
    display: flex;
}
.producto-cards-prod {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: 80px;
    margin-right: 80px;
}
.producto-cards-prod img {
    width: 220px;
}
.producto-card img {
    width: 90px;
    margin: 10px;
}
.producto-card {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}
.producto-card h2 {
    margin: 10px;
    font-size: 18px;
}
.producto-card p {
    font-size: 14px;
}

/* Nosotros */
.nosotros {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 200px;
    width: 60%;
}
.nosotros img {
    width: 200px;
    
}
.nosotros-text {
    width: 30vw;
}

/* Contacto */
.contacto {
    margin-top: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    padding: 100px;
}
.contacto h1 {
    font-size: 60px;
}
.contacto p {
    font-size: 30px;
}
.contacto-email-in {
    margin: 40px;
}
.contacto-email-in input {
    height: 60px;
    width: 600px;
    border-radius: 20px;
}
.contacto-email-in button {
    height: 60px;
    width: 200px;
    border-radius: 20px;
}

/* Footer */
.footer {
    margin: 100px;
}